python-dotenv>=1.0.0
pydub>=0.25.1
tiktoken>=0.7.0
openai>=1.40.0
python-telegram-bot>=20.7
requests>=2.32.0
tenacity>=8.2.3
wolframalpha>=5.0.0
duckduckgo_search>=5.0.0
spotipy>=2.23.0
pytube>=15.0.0
gtts>=2.3.2
whois>=0.9.27
Pillow>=10.2.0
httpx>=0.25.0
